.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
out/
datasets_cache/
datasets/
*.log
checkpoints
*.out
core.*
*.yaml
*.pyc
pretrained_models/
logdir/
checkpoints/
llama2/
eval_results/
third_party/harness/
third_party/harness-rnn/
profile_dir/
*.egg-info
third_party/
test_speed.py 
test_speed2.py 
benchmark_speed.py
